.container 
  background-color: #ffffff

.form-container 
  background-color: #f7f7f7;

.criterias, .member-details-container 
  background-color: #ffffff;

.criteria-details-container
  background-color: #ededed;

